// 系统全局通用样式文件
// @author 490232365@qq.com
// @version 2018-05-01

#app {
  font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 1024px;
  overflow: hidden;
}

.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 201;
}

.fill-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cursor {
  cursor: pointer;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.el-textarea__inner{
  font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
}

.margin-right-5{
  margin-right: 5px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-left-5{
  margin-left: 5px;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.el-form-item__error{
  display: none;
}

.el-tree-node__content {
  height: 42px !important;
}

.el-table::before{
  z-index: inherit;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar {  
  width: 8px;  
  height: 8px;  
  background-color: #F5F5F5;
}  

/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track {  
  background-color: #F5F5F5;  
}  

/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb {  
  border-radius: 5px;  
  background-color: #888;
}  

